@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand: #ccff00;
  --color-brand-hover: #b3e600;
  --color-brand-muted: rgba(204, 255, 0, 0.15);
  --color-bg-base: #0f0f0f;
  --color-bg-card: #151515;
}

body {
  background-color: var(--color-bg-base);
  color: #eeeeee;
}